.jumbotron.top {
  background: url("../images/man-bike.jpg") no-repeat;
  height: 100vh;
  margin: 0;
  padding: 8rem 0 0;
  
  .container {
    flex-direction: column;
    text-align: center;

    @media @large {
      flex-direction: row;
    }
  }

  .section-header {
    color: #fff;
    margin: 3rem 0;    
  

    h4 {
      font-size: 1.2rem;
      margin: 0;
      
      @media @xlarge {
        font-size: 1.5rem;
      }

      @media @large {
        font-size: 1.4rem;
      }

    }
  }
}

.jumbotron {
    background-color: #fff;

    .container {
      display: flex;
      flex-direction: column;

      @media @xlarge {
        justify-content: center;
        align-items: center;
      }

      @media @large {
        justify-content: center;
        align-items: center;
      }

      .section-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        text-transform: uppercase;

      h4 {
        margin: 1rem;
      }

      .hero {
        font-size: 3.2rem;
        font-weight: 700;
        margin: 0;

        @media @large {
          font-size: 4.1rem;
        }

        @media @xlarge {
          font-size: 5.1rem;
        }
      }
    }
  }
}

.orange {
  color: @orange;
}

.article-teaser {

  h2 {
    text-align: center;
  }

  .block-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;

    @media @xlarge {
      flex-direction: row;
    }

    @media @large {
      flex-direction: row;
    }
  }

  .article-teaser-block {
    position: relative;
    margin: 1rem 0;

    @media @xlarge {
      margin: 0 2rem 5rem 0;
    }

    @media @large {
      margin: 0 2rem 5rem 0;
    }

    .article-teaser-desc {      
      background: #ccc;
      width: 25rem;
      margin: 0;
      padding: 1.5rem;
      font-size: 1.2rem;
      text-align: center;      
      
      @media @xlarge {
        width: 90%;
        position: absolute;
        top: 485px;
        left: 5%;
        
      }

      @media @large {
        width: 90%;
        position: absolute;
        top: 485px;
        left: 5%;
      }
    }
  }
  
}

.image-overlap {  
    display: none;
  
  @media @large {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    top: 500px;
    left: 5%;
  }

  @media @xlarge {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    top: 500px;
    left: 5%;
  }
}

.featured-product {

  @media @xlarge {
      padding: 30rem 0 5rem;
  }

  @media @large {
    padding: 30rem 0 5rem;
  }

  .container {
    flex-direction: column;

    h3 {      
      margin: 2.5rem 0;
      text-align: center;      
    }

    img {
      margin: 1rem 0;
    }
  }
}